<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>nam.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/orderDetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/orderPage.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/checkout.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>nam.servlet.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>nam.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>nam.servlet.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDetailServlet</servlet-name>
        <servlet-class>nam.servlet.viewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>nam.servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>nam.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutSerlvet</servlet-name>
        <servlet-class>nam.servlet.logoutSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>nam.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPersionalOrderServlet</servlet-name>
        <servlet-class>nam.servlet.viewPersionalOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderServlet</servlet-name>
        <servlet-class>nam.servlet.searchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moveCheckoutSevlet</servlet-name>
        <servlet-class>nam.servlet.moveCheckoutSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>nam.servlet.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>nam.servlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOrderServlet</servlet-name>
        <servlet-class>nam.servlet.viewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAccountServlet</servlet-name>
        <servlet-class>nam.servlet.viewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveCartServlet</servlet-name>
        <servlet-class>nam.servlet.saveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantManagerServlet</servlet-name>
        <servlet-class>nam.servlet.plantManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removePlantServlet</servlet-name>
        <servlet-class>nam.servlet.removePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPlantServlet</servlet-name>
        <servlet-class>nam.servlet.createPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantServlet</servlet-name>
        <servlet-class>nam.servlet.updatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUpdatePlantServlet</servlet-name>
        <servlet-class>nam.servlet.saveUpdatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPlantByAdminServlet</servlet-name>
        <servlet-class>nam.servlet.searchPlantByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDetailServlet</servlet-name>
        <url-pattern>/viewDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutSerlvet</servlet-name>
        <url-pattern>/logoutSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPersionalOrderServlet</servlet-name>
        <url-pattern>/viewPersionalOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderServlet</servlet-name>
        <url-pattern>/searchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moveCheckoutSevlet</servlet-name>
        <url-pattern>/moveCheckoutSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOrderServlet</servlet-name>
        <url-pattern>/viewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAccountServlet</servlet-name>
        <url-pattern>/viewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveCartServlet</servlet-name>
        <url-pattern>/saveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantManagerServlet</servlet-name>
        <url-pattern>/plantManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removePlantServlet</servlet-name>
        <url-pattern>/removePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPlantServlet</servlet-name>
        <url-pattern>/createPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantServlet</servlet-name>
        <url-pattern>/updatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUpdatePlantServlet</servlet-name>
        <url-pattern>/saveUpdatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPlantByAdminServlet</servlet-name>
        <url-pattern>/searchPlantByAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
